{% extends "base_generic.html" %}

{% block content %}
<h1>Домашняя бибилотека</h1>

  <p>В библиотеке имеется следующее количество записей:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Копии:</strong> {{ num_instances }}</li>
    <li><strong>Выданные копии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
  </ul>

    <p>
      Вы посетили эту страницу {{ num_visits }}{% if num_visits == 1 %} time{%
      else %} times{% endif %}.
    </p>

{% endblock %}
